
html, body {


	height: 100%;
	margin: 0px;
	/*padding-right: 1px;*/
	/*padding-left: 1px;*/
	background-color: #6B7283;
	border-left: 1px solid #6B7283;
	border-right: 1px solid #6B7283;

  }

div{
	padding: 0px;
	margin: 0px;
}  


body {

	font-family: "Open Sans", sans-serif;
	/*font-size: 15px;*/
	

}

#control{
	background-color: #6B7283;
	padding: 0px;
	text-align: center;
	color: #D8D8DD;
	/*position:fixed;*/
}

#control input[type=text]{
/*		width: 100%;
		height: 40px;
		font-size: 24px;*/
		background-color: #6B7283;
		border: 1px solid #EA6D63;
		color: #D8D8DD;
	}


#map-canvas{
	height: 100%;
}


.zipSearch{
	width: 100%;
	color: #D8D8DD;
}


.learnButton{
	width:100%;
	background-color: #EA6D63;
}

#text-zip{
	background-color: #96A6A7;
}

@media(min-width:768px){

#control{
	height:100%;
}

}


@media(max-width:768px){

#control{
	/*position:fixed;*/
	/*height:100px;*/
	/*width:100%;*/
}


#map-canvas{
	/*height: 100%;*/
}

}

