
html, body {

	background-color: black;
	height: 100%;
	margin: 0px;
	padding: 0px
  }

div{
	padding: 0px;
	margin: 0px;
}  


body {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	

}

#control{
	background-color: #3C5E67;
	padding: 0px;
	text-align: center;
}

#control input[type=text]{
/*		width: 100%;
		height: 40px;
		font-size: 24px;*/
		background-color: #3C5E67;
		border: 1px solid #EA6D63;
	}


#map-canvas{
	height: 100%;
}


.zipSearch{
	width: 100%;
}

.learnButton{
	width:100%;
	background-color: #EA6D63;
}

#text-zip{
	background-color: #96A6A7;
}

@media(min-width:768px){

#control{
	height:100%;
}
}
