<!DOCTYPE html>
<html>
  <head>
	<title>Find Good Food</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Discover the best places in your area!" />
	<meta property="og:site_title" content="Find the best!" />
	<meta property="og:description" content="Find the best!"/>
	<meta property="og:url" content="http://www.eatsleepdata.com"/>
	
	<!--[if lt IE 9]>
		<script src="/js/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script language="javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
	<script language="javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
  </head>
  <body>


  
	<div id="control" class="col-xs-12 col-sm-3 col-lg-2 navbar navbar-fixed-top">
		<h3>Find The Best of Toronto</h3>
		{# <p>We'll help you locate the best places to eat near you. Simply search to begin...</p> #}
		<form method="get" id="chooseZip">
		
			<div class="zipSearch">
				<input id="textZip" class="form-control" type="text" name="zip" placeholder="Seach by address..." autofocus>
				<button type="submit" class="learnButton btn">Search</button>
			</div>
			<div class="clear"></div>
		</form>
		

			<div class="clear"></div>
		<div id="results"></div>
	
	</div>

	<!-- an empty div for the map -->
	<div id="map-canvas" class="col-xs-12 col-sm-9 col-lg-10"></div>


  </body>
</html>